@media (max-width: 1100px){
    .konec_block3_slide1_stranka2{
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media (max-width: 1020px){
    .glavna_block2_slide1_stranka1{
        margin-left: 60px;
        margin-right: 60px;
    }
    .text1_otvarHod_block1_slide2{
        font-size: 32px;
    }
    .text2_otvarHod_block1_slide2{
        font-size: 18px;
    }
    .text3_otvarHod_block1_slide2{
        font-size: 18px;
    }
    .text4_otvarHod_block1_slide2{
        font-size: 18px;
    }
    .text1_telef_block2_slide2{
        font-size: 32px;
    }
    .text2_telef_block2_slide2{
        font-size: 32px;
    }
    .button_slide2{
        font-size: 28px;
        width: 190px;
        height: 50px;
    }
}
@media (max-width: 950px){
    .episod1_6_glavna_block2_slide1_stranka2{
        width: 35px;
        height: 35px;
    }
    .episod1_5_glavna_block2_slide1_stranka2{
        font-size: 30px;
    }
    .episod1_4_glavna_block2_slide1_stranka2{
        font-size: 30px;
    }
    .episod1_2_glavna_block2_slide1_stranka2{
        width: 40px;
        height: 40px;
    }
    .episod1_1_glavna_block2_slide1_stranka2{
        height: 110px;
        width: 120px;
    }
    .episod1_3_glavna_block2_slide1_stranka2{
        height: 110px;
        width: 120px;
    }
    .text1_slide1{
        font-size: 24px;
        bottom: 280px;
    }
    .text2_slide1{
        font-size: 60px;
    }
    .text3_slide1{
        font-size: 22px;
    }
    .block-slide2{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .button_slide2{
        margin-bottom: 25px;
    }
    .block-slide3{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .text1_block2_slide3, .text2_block3_slide3{
        margin-bottom: 15px;
    }
}
@media (max-width: 768px){
    .glavna_block2_slide1_stranka1{
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media (max-width: 654px){
    .text1_slide1{
        font-size: 20px;
        bottom: 260px;
    }
    .text2_slide1{
        font-size: 45px;
    }
    .text3_slide1{
        font-size: 18px;
    }
    .nav-stranka0 ul a{
        font-size: 22px;
    }
    .episod1_1_glavna_block2_slide1_stranka2{
        width: 120px;
        height: 110px;
    }
    .episod1_4_glavna_block2_slide1_stranka2{
        font-size: 24px;
    }
    .episod1_4_1_glavna_block2_slide1_stranka2{
        font-size: 17px;
    }
    .episod1_5_glavna_block2_slide1_stranka2{
        font-size: 32px;
    }
    .episod1_6_glavna_block2_slide1_stranka2{
        width: 35px;
        height: 35px;
    }
    .episod1_glavna_block2_slide1_stranka2{
        height: 120px;
    }
    .episod1_glavna_block2_slide1_stranka2{
        padding-top: 30px;
    }
    .text1_zachatok_block1_slide1_stranka2{
        font-size: 32px;
        height: 60px;
    }
    .question{
        font-size: 28px;
    }
    .nav-stranka2 ul a{
        font-size: 22px;
        padding: 28px 13px;
    }
}
@media (max-width: 520px){
    .text1_slide1{
        font-size: 18px;
        bottom: 260px;
    }
    .text2_slide1{
        font-size: 42px;
    }
    .text3_slide1{
        font-size: 16px;
    }
    .button_slide1{
        font-size: 16px;
    }
    .text1_otvarHod_block1_slide2{
        font-size: 26px;
    }
    .text1_telef_block2_slide2, .text2_telef_block2_slide2{
        font-size: 26px;
    }
    .episod1_1_glavna_block2_slide1_stranka2{
        height: 85px;
        width: 85px;
    }
    .episod1_3_glavna_block2_slide1_stranka2{
        height: 85px;
        width: 85px;
    }
    .episod1_4_glavna_block2_slide1_stranka2{
        font-size: 22px;
    }
    .episod1_5_glavna_block2_slide1_stranka2{
        font-size: 26px;
    }
    .episod1_glavna_block2_slide1_stranka2{
        height: 70px;
    }
}
@media (max-width: 460px){
    .text1_slide1{
        bottom: 310px;
    }
    .nav-stranka0 ul a{
        font-size: 18px;
        padding: 28px 13px;
    }
}